@* @model IEnumerable<BoxBuildproj.Models.Orders> *@

@* <h2>Orders List</h2> *@

@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th>Order ID</th> *@
@*             <th>User</th> *@
@*             <th>Status</th> *@
@*             <th>Payment Status</th> *@
@*             <th>Action</th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var order in Model) *@
@*         { *@
@*             <tr> *@
@*                 <td>@order.Id</td> *@
@*                 <td>@order.User.FullName</td> *@
@*                 <td>@order.Status</td> *@
@*                 <td>@order.PaymentStatus</td> *@
@*                 <td> *@
@*                     <a href="@Url.Action("OrderDetails", "Admin", new { id = order.Id })" class="btn btn-info">View</a> *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@
